/*
1. Posicionamiento
2. Modelo caja(Box model)
3. Tipografia
4. visuales
5. otros
*/

:root{
    --bitcion-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-shite: #faf8f7;
    --just-shite: #fff;
}
*{
    margin: 0;    /*reiniciando estilos que le agregan los navegadores*/
    padding: 0;
    box-sizing: border-box;
 }

 html{
     font-size: 62.5%;
     font-family: 'DM sans', sans-serif;
 }
 